<div class="footer">
    <div class="terms">
        Use of this service is subject to our <a href="">terms of use</a>.
    </div>
    <div class="powered">
        Payments powered by <a href="https://quid.works">QUID</a>
    </div>
</div>